body{
    margin: 0;
    padding: 0;
    background: rgb(62,88,255);
    background: linear-gradient(90deg, rgba(62,88,255,1) 0%, rgba(0,125,255,1) 43%, rgba(0,212,255,1) 100%);
    display: flex;
}

.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 28px;
    height: 100vh;
    width: 49vw;
}

.line{
    border-left: 6px solid rgb(255, 255, 255);
    height: 90vh;
    width: 2vw;
    margin-top: 5vh;
}

.about{   
    height: 100vh;
    width: 49vw;
}

.head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 28px;
}


.devs{
    border: 2px solid white;
    height: 60vh;
    width: 40vw;
    margin-left: 10%;
}

.back{
    text-align: left;
    margin-top: 8%;
    margin-left: 4%;
}
.back button{
    background: none;
    border: none;
}

.back button:hover{
    cursor: pointer;
    
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  tr{
    display: flex;
  }

  .dev1{
    border: 2px solid white;
    height: 10px;
    width: 40;
  }
  .dev2{
    border: 2px solid white;
    height: 60%;
    width: 40;
  }
  .dev3{
    border: 2px solid white;
    height: 60%;
    width: 40;
  }
  .dev4{
    border: 2px solid white;
    height: 60%;
    width: 40;
  }

  table{
    height: 100%;
  }