body{
    margin: 0;
    padding: 0;
    /* background: rgb(62,88,255);
    background: linear-gradient(90deg, rgba(62,88,255,1) 0%, rgba(0,125,255,1) 43%, rgba(0,212,255,1) 100%); */
    background-image:  url(amazing-beautiful-art-sky-with-colorful-clouds.jpg);
    background-size: cover;
    object-fit: cover;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 28px;
    height: 100vh;
    width: 49vw;
}

.line{
    border-left: 6px solid rgb(0, 0, 0);
    height: 90vh;
    width: 2vw;
    margin-top: 5vh;
}

.about{   
    height: 100vh;
    width: 49vw;
    
    /* border: 2px solid white; */
    height: 65vh;
    width: 44vw;
    margin-left: 2%;
}

.head{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 28px;
}


.devs{
    /* border: 2px solid white; */
    height: 65vh;
    width: 44vw;
    margin-left: 7%;
}

.back{
    text-align: left;
    margin-top: 5%;
    margin-left: 4%;
}
.back button{
    background: none;
    border: none;
}

.back button:hover{
    cursor: pointer;
    
}

.arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  tr{
    display: flex;
  }

  .dev1{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25%;
    height: 100%;
    width: 100%;
  }
  .dev2{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25%;
    height: 100%;
    width: 100%;
  }
  .dev3{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25%;
    height: 100%;
    width: 100%;
  }
  .dev4{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25%;
    height: 100%;
    width: 100%;
  }

  table{
    height: 100%;
    width: 100%;
  }

  tr{
        height: 50%;
  }
  td{
    width: 100%;
    margin: 5px;
  }


  img{
    width: 30px;
  }

  button{
    background: none;
    border: none;
    cursor: pointer;
  }

  .name{
    font-size: 35px;
    /* padding: 15px; */
  }

  .content{
    /* border: 2px solid white; */
    border-radius: 25%;
    height: 96%;
    width: 94%;
    
  }

  .content h1{
      margin-top: 10%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  @media only screen and (max-width: 1000px){
    .content h1{
      font-size: 13px;
    }

    .head{
      font-size: 22px;
    }

    .heading{
      font-size: 22px;
    }
    .name{
      font-size: 25px;
    }

    img{
      width: 25px;
    }
}

@media only screen and (max-width: 716px){
  .content h1{
    font-size: 13px;
  }

  .head{
    font-size: 20px;
  }

  .heading{
    font-size: 20px;
  }
  .name{
    font-size: 25px;
  }

  img{
    width: 25px;
  }

  .content{
    width: 98%;
  }
}

@media only screen and (max-width: 716px){
  
}